<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin.html}">

<head>
    <link rel="stylesheet" href="/css/pagination.css">
</head>

<body ng-app="myApp">
    <div class="container-fluid mb-5 mt-4" layout:fragment="content" ng-controller="profileCtrl">
        <div class="thongtin">
            <div class="row">
                <div class="col-sm-6" style="border-right: solid rgb(224, 207, 207) 1px;">
                    <div class="row">
                        <div class="khunnguser col-3 pl-4" ng-if="postings[0].user != null">
                            <img ng-src="/getimage/{{postings[0].user.username}}/username" class="img-thumbnail">
                        </div>
                        <div class="khunnguser col-3 pl-4" ng-if="postings[0].shop != null">
                            <img ng-src="/getimage/{{postings[0].shop.username}}/username" class="img-thumbnail">
                        </div>
                        <div class="col-9">
                            <div id="textname" ng-if="postings[0].user != null">
                                <h5>{{postings[0].user.fullname}}</h5>
                            </div>
                            <div id="textname" ng-if="postings[0].shop != null">
                                <h5>{{postings[0].shop.shopname}}</h5>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    5 người theo dõi
                                </div>
                                <div class="col-6">
                                    3 đang theo dõi
                                </div>
                            </div>
                            <div class="row">
                                <div class="nhomnut">
                                    <button class="nuttheodoi"><i class="fas fa-plus-circle"></i> Theo dõi</button>
                                    <button class="nutbaocao"><i class="fas fa-flag"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="textdanhgia">
                        <div class="row" style="padding-left: 14px;">
                            <p class="textdanhgia1"><i class="fas fa-star"></i> Đánh giá: </p>
                            <p class="textdanhgia2"> Chưa có đánh giá</p>
                        </div>
                        <div class="row" style="padding-left: 14px;">
                            <p class="textdanhgia1"><i class="fad fa-phone"></i> Số điện thoại: </p>
                            <p class="textdanhgia2" ng-if="postings[0].user != null"> {{postings[0].user.phone}}</p>
                            <p class="textdanhgia2" ng-if="postings[0].shop != null"> {{postings[0].shop.phone}}</p>
                        </div>
                        <div class="row" style="padding-left: 14px;">
                            <p class="textdanhgia1"><i class="fad fa-mailbox"></i> Email: </p>
                            <p class="textdanhgia2" ng-if="postings[0].user != null"> {{postings[0].user.email}}</p>
                            <p class="textdanhgia2" ng-if="postings[0].shop != null"> {{postings[0].shop.email}}</p>
                        </div>
                        <div class="row" style="padding-left: 14px;">
                            <p class="textdanhgia1"><i class="fas fa-map-marker-alt"></i> Địa chỉ: </p>
                            <p class="textdanhgia2" ng-if="postings[0].user != null"> {{postings[0].user.address}} </p>
                            <p class="textdanhgia2" ng-if="postings[0].shop != null"> {{postings[0].shop.address}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Carousel Wrapper-->
        <br>
        <ul class="list-group p-2 mb-5" style="background-color: #f5f0e1; border-radius: 2px;">
            <h5 class="ml-1" style="font-weight:bold;">Tin đã đăng</h5>
            <li class="list-group-item filtered-products-card-profile mb-2" ng-repeat="item in postings| limitTo:itemsPerPage:itemsPerPage*(currentPage-1)" ng-click="goPostingDetail(item.postings[0].id)">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2">
                            <img class="card-img-top mt-3" ng-src="/getimage1/{{item.postings[0].id}}" alt="Card image cap" height="120px">
                        </div>
                        <div class="col-sm-10">
                            <div class="card-body">
                                <h5 class="text-body text-uppercase font-weight-bold ellipsis-1">{{item.postings[0].title}}</h5>
                                <h5 class="text-danger">{{item.postings[0].price | currency : "" : 0}} đ</h5>
                                <h5 class="font-italic text-muted mr-5 ellipsis-1">
                                    {{item.postings[0].content}}
                                </h5>
                                <div class="text-muted mt-4" style="font-size: 90%;">
                                    <span>
                                        <i class="fas fa-map-marker-alt"></i>&nbsp;
                                        {{item.postings[0].address}}
                                    </span>&ensp;
                                    <span>
                                    <i class="fad fa-calendar-times"></i>&nbsp;
                                    {{item.date | date : 'dd/MM/yyyy'}}
                                    </span>&ensp;
                                    <span>
	                                    <i class="fas fa-user"></i>&nbsp;
	                                    {{item.postings[0].posting.user.fullname}}{{item.postings[0].posting.shop.shopname}}
                                    </span>
                                </div>
                                <div class="text-right">
                                    <button type="button" class="profile-button-check">
                                        <i class="far fa-check"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <ul class="d-flex justify-content-center pagination-sm" uib-pagination total-items="postings.length" items-per-page="3" ng-model="currentPage" max-size="5" boundary-link-numbers="true" ng-change="pageChanged()"></ul>
        </ul>
        <div class="list-group py-3 px-2" style="background-color: #f5f0e1; border-radius: 2px;">
            <h5 class="ml-1" style="font-weight:bold;">Đã bán thành công - 3 tin</h5>
            <a href="#" class="list-group-item list-group-item-action">Bán thành công "ONEPLUS 8T NEW + BẢO HÀNH VÀNG
                TẠI MOBILECITY"
                hôm qua</a>
            <a href="#" class="list-group-item list-group-item-action">Bán thành công "VIVO NEX 3S 5G SIÊU PHẨM 865 MÀN
                THÁC NƯỚC CÓ GL"
                1 tuần trước</a>
            <a href="#" class="list-group-item list-group-item-action">Bán thành công "VIVO NEX 3S 5G SIÊU PHẨM 865 MÀN
                THÁC NƯỚC CÓ GL"
                1 tuần trước</a>
        </div>
        </br>
        <a class="xemtatca" href="#">Xem tất cả >></a>
    </div>
</body>

</html>